html, body, #root, .App {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center horizontally */
  width: 100vw;
  height: 100vh;
  padding-top: 10px; /* Space from the top */
}

.opponent-hand, .opponent-active-cards, .your-active-cards, .your-hand {
  display: flex;
  justify-content: center; /* Centers the hand horizontally */
  width: 100%; /* Ensures it takes full width */
  margin-top: 20px; /* Adds spacing between title and hand */
}

.card-hand {
  display: flex;
  gap: 10px; /* Adds spacing between cards */
}

.card img {
  width: 120px;
  height: 180px;
  object-fit: contain;
}

